.scientists-container {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 30px;
  justify-content: center;
  margin-bottom: 15px;
}

.scientists {
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 20px;
  background-color: #d9d9d9;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
  margin-left: 130px;
}

.buttons button {
    width: 400px;
    border-radius: 40px;
}
